---
import type { IEducation } from "~types/education"
import AppLink from "~components/AppLink.astro"

interface Props extends IEducation {}

const { university, degree, major, GPA, startYear, endYear, href } = Astro.props
---

<!-- Education Details -->
<div>
  <!-- Appended Years -->
  <div class="py-2 text-xs font-semibold tracking-wide uppercase">
    {startYear}{startYear !== endYear && <span> — {endYear ?? "Present"}</span>}
  </div>

  <div>
    <!-- University Name -->
    <div class="font-medium">
      <AppLink href={href} showSuffixIcon title={university}>
        {university}
      </AppLink>
    </div>

    <!-- Major & Degree -->
    <div class="flex text-sm leading-relaxed">
      {major}
      {!!degree && <span>, {degree}</span>}
    </div>

    <!-- GPA -->
    <div class="text-sm leading-relaxed">GPA: {GPA}</div>
  </div>
</div>
