---
import type { IWork } from "~types/work"
import YearRange from "~components/YearRange.astro"
import AppLink from "~components/AppLink.astro"
import Tag from "~components/Tag.astro"

interface Props extends IWork {}
const { jobTitle, company, companyHomepage, description, projects, technologiesUsed, startYear, endYear } = Astro.props
---

<!-- Employed Years -->
<YearRange class="py-2 text-(xs gray-400) tracking-wide uppercase" startYear={startYear} endYear={endYear} />

<!-- Job Title & Company -->
<AppLink class="block text-gray-800 font-medium" url={companyHomepage} showSuffixIcon>
  {jobTitle} · {company}
</AppLink>

<!-- Description -->
<p class="mt-2 text-sm leading-relaxed">{description}</p>

<!-- Products -->
{
  !!projects && projects.length > 0 && (
    <ul class="mt-4 flex flex-wrap gap-(x-4 y-2)">
      {projects.map((it) => (
        <li class="text-(nowrap sm gray-700) font-medium leading-normal">
          <AppLink url={it.url} showPrefixIcon>
            {it.name}
          </AppLink>
        </li>
      ))}
    </ul>
  )
}

<!-- Technologies Used -->
<ul class="mt-4 flex flex-wrap gap-(x-1.5 y-2)">
  {
    technologiesUsed.map((it) => (
      <li>
        <Tag text={it} />
      </li>
    ))
  }
</ul>
